##############################
# Environment variables for Cloudflare Tunnel
##############################
ENABLE_TUNNEL=true

##############################
# SSH
##############################
HOST=xxx.xxx.xxx.xxx
USER=hoge
PORT=9999
KEY=/root/.ssh/your-key.pem

##############################
# Cloudflare Tunnel
##############################
SUBDOMAIN=subdomain
DOMAIN=domain

##############################
# Ansible
##############################
# Cloudflare Tunnel token
CF_TUNNEL_TOKEN=your-cloudflare-tunnel-token-here
